/*Fichier CSS de l'application du Lab 2
Mise en forme du site web
Auteurs : 	
			DAOUDA Anassata - 2037655 
			AYOTTE-VELTMAN Jasper - 1907425
			WITTY Julien - 1949837
			THOLOT Cassandre - 2035978
Date de création : 30/10/19
Date de dernière modification : 16/11/19
*/

* {
  font-family: 'Segoe UI', sans-serif;
  color:rgb(66, 66, 66);
}

.inline{
	display : inline;
}

.inline-block{
	display : inline-block;	
  box-sizing: border-box;
	
}

/* Dimensions */
.page{
  width : 100%;
}

.half-page{
	max-width : 75%;
}

.maximale-relative-width-100{
	max-width : 100% !important;
}

.maximale-relative-width-200{
	max-width : 110% !important;
	min-width : 75% !important;
}

.maximale-relative-width-150{
	max-width: 110% !important;
}

.line-heigth-20{
	line-height: 20px  !important;
}

.line-heigth-35{
	line-height: 35px  !important;
}

.line-heigth-15{
	line-height: 15px  !important;
}

.height-15{
	height : 15px !important;
}

.width-110{
	width : 99%;
}

.width-50{
		width : 50%;
}

.inputs-height{
  height: 60px;
  position: relative;
  top: 25px;
}

/* Margin et padding*/

.no-margin{
	margin : 0px !important;
}

.no-padding{
	padding : 0px !important;
}

.margin-t-b-11{
	margin-top : 11.1px !important;
	margin-bottom : 11.1px !important;
}

.text {
  font-family: 'Segoe UI', sans-serif;
}
/* Mise en forme du texte*/
.text-center{
	text-align : center;
}

.text-right{
	text-align : right;
}

.text-right{
	text-align : left;
}

.text-size-125{
  font-size : 125%;
}

.text-size-90{
  font-size : 90%;
}

.text-size-85{
  font-size : 85%;
}

.text-white{
  color : white;
}

.left-text {
  float:left;
  width:50%
}

.tarrif-text {
  font: outline;
  font-style: italic;
  font-size: 12;
}

.bold {
  font-weight: 700;
}

.icon {
  cursor: pointer;
  position: relative;
  bottom: 19px;
}

.box-title {
  font-weight: 500;
  margin:20px;
}

.block-box {
  margin: 10px;
}

.toggle-menu {
  cursor: pointer;
  width: 20px
}

.triangle {
  position: relative;
  left: 10px;
}

.triangle-text {
  font-size: 85%;
}

.box {
  box-sizing: border-box;
  width: 45%;
  height: 45%;
  float: left;
  margin: 10px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  cursor: pointer;
}

@media (max-width:1000px) {
  .box {
    width: 100%; 
  }  
}

.choices {
  width: 100%;
  height:100%;
}

.box.big {
  position: absolute;
  vertical-align: top;
  width: 90%;
  height: 90%;
}

.box.big svg{
  width: 90%;
  height: 90%;
}

.hide {
  visibility: hidden;
}

.overlay {  
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
}

.inputs {
  position: relative;
  top:12px;
  left: 10px;
  font-size: x-large;
}

.input-tab {
  height: 60px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  position: relative;
  right: 5px;
}
.tab {
  margin: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 2px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  background-color: #A9A9A9;
}

/* Style the tab content */
.tabcontent {
  position: relative;
  display: none;
  padding: 6px 12px;
  height: auto;
  overflow: auto;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  float: left;
  width: 40%;
  left: 0;

}

.right {
  width: 60%;
  float:right;
  right: 0;
}


svg {
  width: 100%;
  height:100%;
    background: white;
    transition: all .2s;
}

.baseline {
    fill: rgb(182, 182, 182);
    stroke: rgb(182, 182, 182);
}

.shift {
    fill: rgba(48, 48, 48, 0.671);
    stroke: rgba(48, 48, 48, 0.671);
}


.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
  }
  .link:hover {
    stroke-opacity: .5;
  }


svg text {
    fill: rgb(66, 66, 66);
    font-size: 12px;
    text-anchor: middle;
}

li {
    display: inline;
}

.cie-image {
  float: left;
  height: 35px;
}

/* .pill {
    background:lightgrey;
    padding: 6px 20px;
    border-radius: 18px;
    color:white;
    cursor: pointer;
    transition: background-color .2s;
}

.pill:hover{
    background:rgb(177, 177, 177);
}

input {
    position: absolute;
    opacity:0;
}

input:checked + .pill{
    background:grey;
}

input:checked + .pill::before {
    padding: 2px 6px 2px 2px;
    content:"\00d7";
}

input[type="radio"]:checked + label{
    font-weight:bolder;
} */

  .link {
    stroke-opacity: .5;
    transition: stroke-opacity .1s;
  }

  .link:hover {
    stroke-opacity: 1;
  }

  .alpha {
    fill: rgb(212, 61, 61);
    stroke: rgb(212, 61, 61);
  }

  .beta {
    stroke: rgb(255, 152, 56);
    fill: rgb(255, 152, 56);
  }

  .gamma {
    stroke: hsl(47, 100%, 62%);
    fill: hsl(47, 100%, 62%);
  }

  .epsilon {
    stroke: rgb(130, 221, 217);
    fill: rgb(130, 221, 217);
  }

  .mobile {
    stroke: rgb(83, 83, 182);
    fill: rgb(83, 83, 182);
  }

  .iota {
    stroke: rgb(192, 84, 192);
    fill: rgb(192, 84, 192);
  }

  .theta {
    stroke: rgb(255, 113, 172);
    fill: rgb(255, 113, 172);
  }

  .kappa {
    stroke: rgb(78, 78, 78);
    fill: rgb(78, 78, 78);
  }
