/*Fichier CSS de l'application du Lab 2
Mise en forme du site web
Auteurs : 	
			XXXX Ana -  
			XXXX Jasper -
			WITTY Julien - 1949837
			THOLOT Cassandre - 2035978
Date de création : 30/10/19
Date de dernière modification : XX/11/19
*/

/* Alignement*/
.left{
	float : left;
}

.right{
	float : right;
}

.inline{
	display : inline;
}

.inline-block{
	display : inline-block;
}

/* Dimensions */
.page{
	width : 100%;
}

.half-page{
	max-width : 50%;
}

.width-750{
	width : 750px;
}

.maximale-relative-width-70{
	max-width:70%;
}

/* Margin et padding*/

.no-margin{
	margin : 0px !important;
}

.no-padding{
	padding : 0px !important;
}

/* Mise en forme du texte*/
.text-center{
	text-align : center;
}