@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    font-family: 'Segoe UI', sans-serif;
    color: rgb(66, 66, 66);
}

body {
    background-color: white;
}

svg {
    background: whitesmoke;
}

.baseline {
    fill: rgb(182, 182, 182);
    stroke: rgb(182, 182, 182);
}

.shift {
    fill: rgba(48, 48, 48, 0.671);
    stroke: rgba(48, 48, 48, 0.671);
}


.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
  }
  .link:hover {
    stroke-opacity: .5;
  }



svg text {
    fill: rgb(66, 66, 66);
    font-size: 12px;
    text-anchor: middle;
}

li {
    display: inline;
}

.pill {
    background:lightgrey;
    padding: 6px 20px;
    border-radius: 18px;
    color:white;
    cursor: pointer;
    transition: background-color .2s;
}

.pill:hover{
    background:rgb(177, 177, 177);
}

input {
    position: absolute;
    opacity:0;
}

input:checked + .pill{
    background:grey;
}

input:checked + .pill::before {
    padding: 2px 6px 2px 2px;
    content:"\00d7";
}

input[type="radio"]:checked + label{
    font-weight:bolder;
}